* {
  box-sizing: border-box;
  
}

h1, h2, h3, h4 {
  font-family: Bookman, Copperplate, Copperplate Gothic Light;  
}

h1 {
  font-size: 4em;
  line-height: 8px;
}

h2, h3 {
  line-height: 2px;
}

p {
  font-family: Comic Sans MS, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14pt;
}

li {
  font-family: Comic Sans MS, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14pt;
}

html, body {
  background-color: rgba(187, 231, 249, 0.667);
  margin: 0;
  padding: 0;
}

h3 {
  padding-bottom: 20px;
}

.page-container {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content auto auto min-content;
  grid-template-areas: "header header header header"
  "content content content content"
  "content content content content"
  "content footer footer footer";
}

h4 {
  
  display: flex;
  flex-direction: column;
  // text-align: center;
  // display: inline;
}


section {
  display: block;
 
}

.header-text {
  display: flex-box;
  text-align: center;
  // grid-area: header;
}

hr {
  border: none;
  height: 20px;
  color: #333; /* old IE */
  background-color: rgb(207, 122, 75); 
}
// sidebar/tree trunk
aside {
  grid-column: 1;
  grid-row: 2;
  background-color: #F0F0F2;
  padding: 5px 10px;
}

#skills {
  padding-left: 40px;
}

img {
  float: left;
  width: 33.33%;
  padding: 5px; 
  display: block;
  max-width: 400px;
  max-height: auto;
}