* {
  box-sizing: border-box;
}

html, body {
  background-color: rgba(187, 231, 249, 0.667);
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content auto auto min-content;
  grid-template-areas: "header header header header"
                        "content content content content"
                        "content content content content"
                        "content footer footer footer";
}

.header-text {
  display: flex-box;
  justify-content: space-around;
  grid-area: header;
  text-align: center;

  justify-content: center;
  align-items: center;
}
// sidebar/tree trunk
aside {
  grid-column: 1;
  grid-row: 2;
  background-color: #F0F0F2;
  padding: 5px 10px;
}

#skills {
  padding-left: 40px;
}